/*yellow: #ffc312
light grey: #eaeaea (form text)
dark grey: #555555 (for text)
medium grey: #898989
bluish grey color: #2c3e50*/
.body{
	margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.full-container{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.center-container{
	position: relative;
	width: 80%;
	height: 90vh;
	margin: auto;
	overflow-y: hidden;
}
.formWindow
{
	width: 50%;
    height: auto;
    margin: auto;
    padding: 4% 2%;
    align-content: center;
    top: 10%;
    position: relative;
	
}
.adminForm
{
	background-image: url("images/rajasthan.jpg");
	background-size: cover;
}
.formbg
{
	background-image: url("images/dark.jpg");
	background-size: cover;
}
#userLoginWindow{
	background-color: rgba(0,0,0,0.2);
}

#userRegisterWindow{
	background-color: rgba(0,0,0,0.2);
}
.label, .labelInvert
{
	font-family: 'Montserrat',sans-serif;
	font-size: 14px;
	color: white;
}
.formText{
	color: #eaeaea;
	font-family: 'Montserrat',sans-serif;
	font-size: 14px;
	text-align: center;
}
p{
	padding: 5px;
}
input:not(.yellowBtn){
	width: 70%;
	height: 5%;
	border-radius: 5px;
	padding: 5px;
	float: right;
}
.userFormInput{
	border:0.5px solid white;
	background-color: unset;
	color: white;
}
.adminFormInput{
border:0.5px solid lightgrey;
}

.yellowBtn{
	width: 90%;
	margin: auto;
	height: 5%;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffc312;
	color: white;
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	border:none;
	position: relative;
	left: 5%;
}
.yellowBtn:hover{
	cursor: pointer;
}
.secondaryBtn{
	width: 90%;
	margin: auto;
	height: 5%;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	color: #2c3e50;
	border: 1px solid #2c3e50;
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	position: relative;
	left: 5%;
}
.secondaryBtn:hover{
	cursor: pointer;
	background-color: #2c3e50;
	color: #ffffff;
	border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey;
}
.heading{
	font-family: 'Montserrat',sans-serif;
	font-weight: bolder;
	font-size: 30px;
	margin: 0;
}
.forgotPasswd{
	float: right;
}
.survey{
	background-color: #111111;
	color: #ffffff;
	padding: 2%;
}
.surveyText{
	width: 50%;
	text-align: center;
	display: inline;
}
.surveyBtn{
	width: 20%;
	display: inline;
	float: right;
}
.viewAllBtn{
	width: 15%;
	display: inline;
	float: right;
}
.header{
	background-color: #ffffff;
	color: #111111;
	padding: 2%;
}
.headingText{
	width: 50%;
	text-align: center;
	display: inline;
	font-weight: bolder;
	color: #111111;
	font-size: 24px;
}
.joinBtn {
    width: 35%;
    display: inline;
    float: right;
    margin: unset;
    left: -2%;
}
.downloadFile{
	text-decoration: none;
	color: #ffc312;
}
#terms{
	font-family: 'Montserrat',sans-serif;
	color: #898989;
	font-size: 12px;
}
.modalText{
	font-size: 16px;
	font-family: 'Montserrat',sans-serif;
	color: #555555;
	margin: 5%;
}
.footerText{
	font-family: 'Montserrat',sans-serif;
	color: #898989;
	font-size: 16px;
}
.icon{
	padding: 0px;
	color: #ffc312;
}
.social-icon{
	color: #eaeaea;
	padding: 0px;
}
.social-icon:hover{
	color: #ffc312;
}
.madeby{
	color: #898989;
	font-family: 'Montserrat',sans-serif;
	font-size: 12px;
}
.madeBy font{
	color: #ffc312;
}

#fn, #ln, #eid, #mobile, #cpwd
{
	color: #ff3f34;
	font-size: 12px;
	margin-left: 28%;
	margin-bottom: 0%;
	display: none;
}

@media only screen and (max-width: 600px)
{
	.center-container
	{
		width:90%;
		overflow-x: hidden;
	}
	.formWindow
	{
		width:100%; 
		padding: 3% 1%;
	}
	.label span, .labelInvert span
	{
		display: none;
	}
	.label,.labelInvert
	{
		margin: 10%;
		margin-bottom: 12%;
		width: 100%;
		left:-25%;
		position: relative;  
	}
	.forgotPasswd
	{
		margin-right: 12%; 
	}
	.formbg
	{
		background-image: url("images/FormBg.jpg");
		background-size: cover; 
		overflow-x: hidden;
	}
	input:not(.yellowBtn)
	{
		padding: 6px;
	}
}